<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/icon5.ico" type="image/x-ico"/>
    <link rel="stylesheet" href="mainpage-css.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="HoverEffectIdeas-master/css/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="HoverEffectIdeas-master/css/set1.css" />
	<link rel="stylesheet" type="text/css" href="HoverEffectIdeas-master/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <script src="jquery.js"></script>
    <script src="mainpage-js.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>VNU's MARKET</title>
</head>
<body>
        <header>
    <div class="mainhead">
  </div>
</header>

<div class="title1">
    <p title="Liên hệ" class="hotline">Hotline: <span style="color:#ffd633">0393457435</span></p>
    <p  class="maintitle"> <a href="/" ><img title="trang chủ" src="img/icon5.png"> </a>VNU'S MARKET </p>

<div class="dropdown">
    <button class="dropbtn"><img src="img/taikhoan1.jpg"></button>
    <div class="dropdown-content">
        <a href="Login">Tài khoản</a>
        <a href="cart">Giỏ hàng 
            {{# if session.cart.totalQty}}
        <span style="margin-left:30px;padding:3px 10px; background-color:gray; border-radius: 10px">{{session.cart.totalQty}}</span></a>
            {{/if}}
        <a href="logout">Đăng xuất</a>
  </div>
</div>
   {{# if name}}
    <p style="display:inline;font-family:Florence, cursive "> {{name}}</p>
    {{else}}
    <p style="display:inline;font-family:Florence, cursive "> &#8592;Mua ngay</p>
    {{/if}}
</div>
<div style="border: 0.5px ridge #ccccb3 "></div>
<p class="title-profile">Tài Khoản Admin</p>
<div class="listprofile">
     <form action="/admin-signin" method="post" style="margin:0px"> 
     <div>
          <label style="margin-right:45px">Email* </label>
        <input type="email" class="logininput" id="email" name="email" placeholder="Email" value="{{email}}"> </div>
    <div>
          <label style="margin-right:24px">Mật Khẩu* </label>
        <input type="password" class="logininput" id="password" name="password" placeholder="Mật khẩu hiện tại" > </div>
    <button class="loginname" type="submit">Đăng nhập </button>
       <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    </form>
    </div>
</body>
</html>