<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	 <link rel="icon" href="img/icon5.ico" type="image/x-ico"/>
    <link rel="stylesheet" href="mainpage-css.css">
    <link rel="stylesheet" type="text/css" href="style_page_search.css" />
	<link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>
    <script src="jquery.js"></script>
    <script src="mainpage-js.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
    <script type="text/javascript" src="JavaScript/events.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   

    <title>VNU's MARKET</title>
</head>
<body> 
  <header>
    <div class="mainhead">
        </div>
</header>

<div class="title1">
    <p title="Liên hệ" class="hotline">Hotline: <span style="color:#ffd633">0393457435</span></p>
    <p class="maintitle"> <a href="/" ><img title="trang chủ" src="img/icon5.png"> </a>VNU'S MARKET </p>
   
 <!--   <p title="tài khoản" class="icon1"> <a href="Login" ><img src="img/taikhoan1.jpg"> </a></p> -->
 <div class="dropdown">
  <button class="dropbtn"><img src="img/taikhoan1.jpg"></button>
  <div class="dropdown-content">
  <a href="Login">Tài khoản</a>
  <a href="cart">Giỏ hàng 
    {{# if session.cart.totalQty}}
    <span style="margin-left:30px;padding:3px 10px; background-color:gray; border-radius: 10px">{{session.cart.totalQty}}</span></a>
    {{/if}}
  <a href="logout">Đăng xuất</a>
  </div>
    </div>
    {{# if name}}
    <p style="display:inline;font-family:Florence, cursive "> {{name}}</p>
    {{else}}
    <p style="display:inline;font-family:Florence, cursive "> &#8592;Mua ngay</p>
    {{/if}}
</div>
    <div class="list">
        <ul class="Mainlist"> 
            <li> <a href="/" >Trang chủ</a></li>
            <li> <a href="#" >Giới thiệu</a></li>
            <li> <div class="g-list" >
                    <a class="content-drop" href="#" > Sản phẩm </a> 
                    <div class="list-content">
                        <a  class="l1" href="list/cook" style="padding:15px"> Nấu nướng </a>
                        <a  class="l2" href="list/house" style="padding:15px"> Đồ gia dụng</a> 
                        <a  class="l3" href="list/food" style="padding:15px"> Thực phẩm</a>  
                        <a  class="l4" href="#" style="padding:15px"> Thời trang </a> 
                        <a  class="l5" href="#" style="padding:15px">Tài liệu học tập</a>
            </div>
            
          </div>
        </li>
            <li><a  href="#" name="Các bài viết có ích cho sv">Tin tức</a></li>
            <li> <a href="#" >Liên hệ </a></li>
        </ul>
    </div>
   <div id="option">
    	<a href="Demo-Web.html" style="margin-left:30px;padding:2px"> Trang chủ </a>
        <span> /  Sản phẩm nổi bật </span> 
    </div>
	<script type="text/javascript" src="jquery.js"></script>
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    
    <div id="content">
    	<div id="title-content">
        	<h2>SẢN PHẨM NỔI BẬT</h2>
            <span id="decorate-title"></span>
        </div>
        <div class="container">
        	<div class="col-md-3">
        		<div class="classify">
                	<div class="category">
            			<h4>DANH MỤC SẢN PHẨM</h4>
                        <br />
                        <div class="sidenav">
 					   		<a href="#about">Trang chủ</a>
  							<a href="#services">Giới thiệu</a>
  							<button class="dropdown-btn">Sản phẩm 
    							<i class="fa fa-caret-down"></i>
  							</button>
  							<div class="dropdown-container">
    							<a href="#">Link 1</a>
    							<a href="#">Link 2</a>
    							<a href="#">Link 3</a>
                                <a href="#">Tất cả</a>
  							</div>
  							<a href="#contact">Tin tức</a>
                            <a href="#contact">Liên hệ</a>
						</div>
						<hr />
                        
                        <h4>MỨC GIÁ</h4>
						<form>
                        <div class="checkbox">
							<input id="<100" type="checkbox" name="range_of_price" value="(<100000)">
                        	<label><span class="valueprice" > Dưới 100.000đ </span> </label>
						</div>
						<div class="checkbox">
							<input id="100-200" class="valueprice" type="checkbox" name="range_of_price" value="(>100000 AND <200000)">
                            <label><span class="valueprice" >  100.000đ - 200.000đ </span> </label>
						</div>
						<div class="checkbox">
							<input id="200-300" type="checkbox" name="range_of_price" value="(>200000 AND <300000)">
                            <label><span class="valueprice" > 200.000đ - 300.000đ </span></label>
                        </div>
						<div class="checkbox">
							<input id="300-500" type="checkbox" name="range_of_price" value="(>300000 AND <500000)">
                            <label> <span class="valueprice"> 300.000đ - 500.000đ </span></label>
						</div>
						<div class="checkbox">
							<input id="500-1000" type="checkbox" name="range_of_price" value="(>500000 AND <1000000)">
                            <label> <span class="valueprice"> 500.000đ - 1.000.000đ</span> </label>
    					</div>
						<div class="checkbox">
							<input id=">1000" type="checkbox" name="range_of_price" value="(>1000000)">
                            <label> <span class="valueprice">Trên 1.000.000đ </span></label>
						</div>
                      	</form>
						  </br>
                        <h4>TÌM KÍCH THƯỚC</h4>
			
                        <form>
    					<div class="checkbox">
							<input type="checkbox" value="">
      					    <label><span class="valueprice"> To</span></label>
    					</div>
    					<div class="checkbox">
							<input type="checkbox" value="">
      					<label> <span class="valueprice">Vừa</span></label>
    						</div>
    					<div class="checkbox ">
							<input type="checkbox" value="">
     						 <label><span class="valueprice">Nhỏ</span></label>
    					</div>
						<div class="checkbox">
							<input type="checkbox" value="" >
     						 <label><span class="valueprice">Rất Nhỏ</span></label>
    					</div>
  					</form>
                         
                    </div>
            	</div>
            </div>
            
            <div class="col-md-9">
            	<div id="title-filter-product">
                	<b>Ưu tiên xem: </b>
                
                    <a href="#" onClick="sortby('created-desc')">
                    	<i>Hàng mới về</i>
                    </a>
                    <a href="#" onClick="sortby('created-desc')">
                    	<i>Hàng cũ nhất</i>
                    </a>
                    <a href="#" onClick="sortby('created-desc')">
                    	<i>Giá tăng dần</i>
                    </a>   
                    <a href="#" onClick="sortby('created-desc')">
                    	<i>Giá giảm dần</i>
                    </a>           
                </div>
                <br />
                <div id="main-product">
					 {{# each arr}}
                	<div class="row">
						  {{# each this}}
                		<div class="product" >
                		  <a href="/find/{{this.id}}" >
                            <img src="{{this.imagePath}}" alt="Lights" style="width:100%">
                            <div class="caption">
                              	<p style="text-align:center; padding-top:10px; font-family:Lucida, sans-serif">
                        		<a style="text-decoration: none;" href="/find/{{this.id}}" title="{{this.name}}">{{this.name}}</a>
                        	      </p>
                            
                            	<p style="text-align:center; font-weight:bold; color: red;font-family:Helvetica, sans-serif">{{this.price}}.000₫</p>
                        	
                         
                    	
                	</div>
			
            	</div>   
				{{/each}}     
            </div>
				{{/each}}
        </div>
    </div>
	</div>
	</br>
 <div class="foot">
    <div class="title1">
      <p class="maintitle1" > VNU'S MARKET </p> 
    </div>
    <div class="address">
      ĐỊA CHỈ <br>
      TRƯỜNG ĐẠI HỌC CÔNG NGHỆ-ĐẠI HỌC QUỐC GIA HÀ NỘI <br>
      144-Xuân Thủy Cầu Giấy Hà Nội {{imgpath}} <br>
      <div style="float:center; padding:20px">
        <img title="facebook" class="MXH" src="img/facebook.png">
        <img title="twitter" class="MXH" src="img/tweet.png">
        <img title="instagram" class="MXH" src="img/instagram.png">
        <img title="youtube" class="MXH" src="img/youtube.png">
      </div>
    </div>
  </div>
  
</body>
</html>

    
